

body { 
  background: #f0f4f8; 
  font-family: 'Open Sans', sans-serif; 
  color: #333; 
  margin: 0;
  padding: 0;
}


.content-section {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
}

  .content-section:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }

.cta-button, .resume-link, .projects-grid a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover, .resume-link:hover, .projects-grid a:hover {
  background-color: #1abc9c;
}

.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 350px;
  transtion: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

h1 {
  color: #2c3e50; 
  font-family: 'Montserrat', sans-serif; 
  font-weight: 700; 
  margin-bottom: 5px;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; 
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.intro-text {
  max-width: 600px;
}

p {
  margin-top: 0;
  font-size: 1em;
}

.resume-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resume-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #1abc9c;
}
    
  
  .assign {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 20px auto;
  background: #ecf0f1; 
  border-radius: 8px; 
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.assign a {
  text-decoration: none;
  color: #2980b9;
  font-weight: 600; 
  font-size: 1.2em; 
}

.assign a:hover {
  color: #1abc9c; 
}

.assign p {
  font-size: 16px;
  color: #555; 
  line-height: 1.6; 
  margin-top: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&display=swap');
